/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Sass variables
   ========================================================================== */
$text-color: #353330;
$yellow: #fbd37c;
$orange: #ff9b6d;
$brown: #d5af86;
$green: #a4d7c7;
$grey: #f2f2f2;
$blue: #1e91d6;
$purple: #a4bed7;

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  box-sizing: border-box;
}

html {
  color: $text-color;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img,
svg {
  vertical-align: middle;
}

img {
  width: 100%;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  padding-top: 50px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.site-header {
  position: fixed;
  top: 0;
  z-index: 3;
  height: 50px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1px;
  color: $text-color;
  padding-left: 45px;
}

#logo,
.menu-trigger {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-trigger {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  background-color: $yellow;
  color: #fff;
  letter-spacing: 1px;
  align-items: center;
  padding: 15px 12px;
  width: 66px;

  &:hover,
  &:focus {
    color: #000;
    outline: 0;
  }
}

.menu-trigger.triggered {
  position: relative;
  text-indent: 66px;

  &:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/sprite.svg);
    background-size: 1850px 380px;
    background-position: 719px -183px;
  }
}

.triggered + .menu {
  display: flex;
}

.menu {
  display: none;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 100vh;
  max-height: 480px;
  position: absolute;
  right: 0;
  top: 50px;
  width: 230px;
  padding: 30px 40px 30px 60px;
  background-color: $yellow;
  font-size: 16px;

  &.visible { display: flex; }

  a {
    text-decoration: none;
    color: $text-color;
  }
}

.main-nav {
  a {
    display: block;

    &:hover,
    &:focus {
      color: #fff;
    }
  }

  a + a { margin-top: 25px; }
}

.social-nav {
  a {
    display: inline-block;
    text-indent: -100%;
    overflow: hidden;
    background-image: url('../img/sprite.svg');
    width: 25px;
    height: 25px;
    background-size: 1420px 310px;
    margin-right: -4px;

    &.linkedin {
      background-position: -555px 167px;

      &:hover,
      &:focus {
        background-position: -590px 167px;
      }

      &:active {
        background-position: -625px 167px;
      }
    }
    &.behance {
      background-position: -660px 167px;

      &:hover,
      &:focus {
        background-position: -695px 167px;
      }

      &:active {
        background-position: -730px 167px;
      }
    }
    &.dribbble {
      background-position: -765px 167px;

      &:hover,
      &:focus {
        background-position: -800px 167px;
      }

      &:active {
        background-position: -835px 167px;
      }
    }
  }

  a + a { margin-left: 15px; }
}

/* ==========================================================================
   SECTION GLOBALS
   ========================================================================== */
.site-content {
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 260px;
  margin: 0 auto;
}

.section {
  padding: 45px 30px;
}

.section.profile,
.section.tools {
  background-color: $brown;
}

.section.skills,
.section.education {
  background-color: $green;
}

.section.portfolio,
.section.experience {
  background-color: $grey;
}

.section.site-footer {
  background-color: $text-color;
}

.section-title {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 70px;

  &:before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/sprite_xl.svg);
    background-size: 378px 70px;
  }
}

.section.portfolio,
.section.experience {
  .section-title { color: $brown; }
}

.section.footer .section-title { color: $green; }

.quote {
  position: relative;
  margin: 35px 0 0 0;
  font-family: 'Domine', serif;
  font-size: 12px;
  padding: 25px;
  border-radius: 15px;
  border: 2px dashed;

  &:before,
  &:after,
  p:after {
    content: "";
    position: absolute;
  }

  &:before {
    border-right: 2px dashed;
  }

  &:after {
    border-right: 2px dashed;
  }

  p {
    position: relative;
    margin: 0;
  }
}

/* ==========================================================================
   PROFILE SECTION
   ========================================================================== */
.is-relative {
  position: relative !important;
}

.profile {
  .section-title:before { background-position: -108px -10px; }

  .intro {
    font-family: 'Domine', serif;
    margin-bottom: 45px;
    font-size: 15px;
  }

  .image {
    border-radius: 50%;
    width: 50%;
    height: auto;
    float: right;
  }

  .image.placeholder {
    position: relative;
    z-index: 2;
    filter: blur(2px);
    opacity: 1;
    animation: fadeOut .3s cubic-bezier(0.55, 0.09, 0.68, 0.53) 1 forwards;
  }
  .is-paused {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    animation-play-state: paused !important;
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

  .image.original {
    position: absolute;
    opacity: 1;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}

/* ==========================================================================
   SKILLS SECTION
   ========================================================================== */

.skills {
  padding-bottom: 88px;

  .section-title:before { background-position: -330px -10px; }

  .card {
    border-radius: 15px;
    background-color: #fff;
    margin-bottom: 35px;
  }

  .card-title {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    text-align: center;
  }

  .card-list {
    background-color: $brown;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
    border-radius: 0 0 15px 15px;

    li + li { margin-top: 10px; }
  }

  .highlight {
    border-radius: 15px;
    background-color: $yellow;
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    padding: 25px;

    span {
      position: relative;
      display: inline-block;
      padding-left: 40px;

      &:before {
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../img/sprite.svg);
        background-size: 1850px 310px;
        background-position: 662px 169px;
      }
    }
  }

  .quote {
    border-color: $brown;

    &:before,
    &:after {
      border-color: $brown;
    }

    &:before {
      right: 33px;
      bottom: -68px;
      height: 68px;
      transform: rotate(-22deg);
    }

    &:after {
      right: 20px;
      bottom: -65px;
      height: 65px;
    }

    p:after {
      right: -3px;
      bottom: -27px;
      height: 20px;
      width: 25px;
      background-color: $green;
    }
  }

  .chameleon {
    position: absolute;
    bottom: -80px;
    right: 28px;
    transform: translateY(50%);
    width: 120px;

    .cls-1{ fill:#a4bed7; }
    .cls-2{ fill:#d5af86; }
    .cls-3{ fill:#ffffff; }
    .cls-4{ fill:#cfe795; }
    .cls-5{ fill:#a4d7c7; }
  }
}

/* ==========================================================================
   PORTFOLIO SECTION
   ========================================================================== */
.portfolio {
  padding-top: 60px;
  padding-bottom: 150px;

  .section-title:before { background-position: -54px -10px; }

  .image-link {
    display: block;
    overflow: hidden;
    position: relative;
    max-height: 250px;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .image.placeholder {
    position: relative;
    z-index: 2;
    filter: blur(6px);
    opacity: 1;
    animation: fadeOut .3s cubic-bezier(0.55, 0.09, 0.68, 0.53) 1 forwards;
  }

  .is-paused {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    animation-play-state: paused !important;
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

  .image.original {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .item-title {
    display: block;
    color: $brown;
    font-family: 'Montserrat';
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
  }

  .item-description {
    font-family: 'Domine', serif;
    display: block;
    font-size: 12px;
    text-align: center;
    margin-bottom: 35px;
  }

  .quote {
    border-color: $green;

    &:before,
    &:after {
      border-color: $green;
    }

    &:before {
      left: 85px;
      bottom: -65px;
      height: 75px;
      transform: rotate(-45deg);
    }

    &:after {
      left: 110px;
      bottom: -55px;
      height: 54px;
      transform: rotate(-5deg);
    }

    p:after {
      left: 36px;
      bottom: -27px;
      height: 20px;
      width: 48px;
      background-color: $grey;
    }
  }

  .chameleon {
    position: absolute;
    bottom: -410px;
    right: -160px;
    width: 325px;

    .cls-1{ fill:#d5af86; }
    .cls-2{ fill:#ffffff; }
    .cls-3{ fill:#fbd37c; }
    .cls-4{ fill:#f2f2f2; }
    .cls-5{ fill:#cfe795; }
  }
}


/* ==========================================================================
   TOOLS SECTION
   ========================================================================== */
.tools {
  padding-bottom: 65px;

  .section-title:before { background-position: -163px -10px; }

  .list {
    font-family: "Hind", serif;
    font-size: 15px;
  }

  .item {
    margin-bottom: 20px;
    display: flex;
  }

  .item-title {
    width: 60%;
    text-align: right;
  }

  .item-rating {
    width: 40%;
    text-align: left;
    padding-left: 20px;

    span {
      border-radius: 50%;
      display: inline-block;
      background-color: #000;
      border: 1px solid #000;
      width: 10px;
      height: 10px;
    }

    &.one span:last-child,
    &.two span:nth-last-child(-n+3),
    &.three span:nth-last-child(-n+2),
    &.four span:nth-last-child(-n+2), {
      background: none;
    }
  }

  .quote {
    border-color: $blue;

    &:before,
    &:after {
      border-color: $blue;
    }

    &:before {
      left: 30px;
      bottom: -107px;
      height: 107px;
      transform: rotate(5deg);
    }

    &:after {
      left: 44px;
      bottom: -110px;
      height: 110px;
      transform: rotate(19deg);
    }

    p:after {
      left: 10px;
      bottom: -27px;
      height: 20px;
      width: 30px;
      background-color: $brown;
    }
  }

  .chameleon {
    position: absolute;
    bottom: -65px;
    right: 0;
    transform: translateY(88%);
    width: 235px;

    .cls-1{ fill:#d5af86; }
    .cls-2{ fill:#a4bed7; }
    .cls-3{ fill:#ffffff; }
    .cls-4{ fill:#cfe795; }
    .cls-5{ fill:#a4d7c7; }
  }
}


/* ==========================================================================
   EDUCATION SECTION
   ========================================================================== */

.education {
  padding-top: 140px;

  .section-title:before { background-position: -220px -10px; }

  .heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
  }

  .title,
  .item,
  .courses {
    font-family: 'Hind', serif;
    margin: 0;
  }

  .item {
    margin-bottom: 50px;
  }

  .title,
  .description li {
    padding: 10px 10px 10px 35px;
    position: relative;

    &:before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 10px;
      top: 10px;
      background-image: url(../img/sprite.svg);
      background-size: 850px 310px;
    }
  }

  .description li {
    &:nth-child(1):before { background-position: -642px 161px; }
    &:nth-child(2):before { background-position: -681px 161px; }
    &:nth-child(3):before { background-position: -725px 162px; }
    &:nth-child(4):before { background-position: -765px 162px; }
  }

  .title {
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $brown;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1.1px;

    &:before {
      top: 13px;
      background-position: -596px 163px;
    }
  }

  .description li:last-child {
    padding-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .description,
  .course .name,
  .course .place {
    color: #000;
    font-size: 12px;
    line-height: 14px;

    li:nth-child(odd) { background-color: $grey; }
    li:nth-child(even) { background-color: #fff; }
  }

  .course {
    margin-bottom: 25px;

    .name,
    .place {
      padding-left: 25px;
      display: block;
      position: relative;

      &:before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../img/sprite.svg);
        background-size: 750px 310px;
      }
    }

    .name:before { background-position: 204px 161px; }
    .place:before { background-position: 130px 161px; }

    .place {
      margin-top: 7px;
    }
  }
}


/* ==========================================================================
   EXPERIENCE SECTION
   ========================================================================== */
.experience {
  padding-bottom: 95px;

  .section-title:before { background-position: -275px -10px; }

  .card + .card { margin-top: 35px; }

  .list {
    background-color: $green;
    color: $text-color;
    font-family: 'Hind', sans-serif;
    font-size: 12px;
    border-radius: 5px;
  }

  .item {
    padding: 10px 25px;
    position: relative;

    &:nth-child(even) { background-color: $purple; }

    &:before {
      content: "";
      width: 18px;
      height: 15px;
      position: absolute;
      left: 20px;
      top: 17px;
      transform: translateY(-50%);
      background-image: url(../img/sprite.svg);
      background-size: 830px 310px;
      background-position: 63px 163px;
    }

    &:nth-child(2):before {
      background-size: 1100px 310px;
      background-position: 245px 163px;
    }
    &:nth-child(3):before {
      background-position: 104px 163px;
    }
  }

  .item-description {
    padding-left: 25px;
    display: inline-block;
  }

  .chameleon {
    position: absolute;
    bottom: -95px;
    right: 0;
    transform: translate(83%, 40%);
    width: 530px;

    .cls-1{ fill:#ff9b6d; }
    .cls-2{ fill:#d5af86; }
    .cls-3{ fill:#ffffff; }
    .cls-4{ fill:#a4d7c7; }
    .cls-5{ fill:#f2f2f2; }
  }
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

.site-footer {
  .section-title:before { background-position: 0 -10px; }

  .note {
    color: $brown;
    text-align: center;
    margin-bottom: 45px;
    font-family: "Domine", serif;
    font-size: 14px;
  }
}

.contacts a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: "Hind", sans-serif;
  font-size: 22px;
  border-radius: 15px;
  color: $text-color;
  box-shadow: 0 5px 0 0 $orange;
  background-color: $yellow;
  padding: 5px 30px 0 50px;
  width: 100%;
  margin-bottom: 25px;

  &:hover,
  &:focus {
    background-color: #fbe87c;
    box-shadow: 0 5px 0 0 #ff9b6d;
  }

  &:active {
    transform: translate(0, 5px);
    box-shadow: 0 1px 0 0;
  }

  &:before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/sprite.svg);
    background-size: 1400px 113px;
  }

  &.tel:before { background-position: 1435px 182px; }
  &.email:before { background-position: 1470px 182px; }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}