/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Sass variables
   ========================================================================== */
$text-color: #353330;
$yellow: #fbd37c;
$orange: #ff9b6d;
$brown: #d5af86;
$green: #a4d7c7;
$grey: #f2f2f2;
$blue: #1e91d6;
$purple: #a4bed7;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1280px;
$site-max-width: 1280px;

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  box-sizing: border-box;
}

html {
  color: $text-color;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img,
svg {
  vertical-align: middle;
}

img {
  width: 100%;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  padding-top: 50px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.site-header {
  position: fixed;
  top: 0;
  z-index: 3;
  height: 50px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1px;
  color: $text-color;
  padding-left: 45px;
  position: relative;

  &:before {
    content: "";
    background-image: url(../img/sprite.svg);
    position: absolute;
    left: 15px;
    width: 25px;
    height: 25px;
    background-size: 1149px 310px;
    background-position: -100px 167px;
    top: -2px;
  }

  &:hover:before,
  &:focus:before {
    background-position: -131px 167px;
  }

  &:active:before {
    background-position: -162px 167px;
  }
}

#logo,
.menu-trigger {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-trigger {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  background-color: $yellow;
  color: #fff;
  letter-spacing: 1px;
  align-items: center;
  padding: 15px 12px;
  width: 66px;

  &:hover,
  &:focus {
    color: #000;
    outline: 0;
  }
}

.menu-trigger.triggered {
  position: relative;
  text-indent: 66px;

  &:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/sprite.svg);
    background-size: 1850px 380px;
    background-position: 719px -183px;
  }
}

.triggered + .menu {
  display: flex;
}

.menu {
  display: none;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 100vh;
  max-height: 480px;
  position: absolute;
  right: 0;
  top: 50px;
  width: 230px;
  padding: 30px 40px 30px 60px;
  background-color: $yellow;
  font-size: 16px;

  &.visible { display: flex; }

  a {
    text-decoration: none;
    color: $text-color;
  }
}

.main-nav {
  a {
    display: inline-block;
    line-height: 1;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;

    &:hover,
    &:focus {
      color: #fff;
    }

    &.active {
      border-bottom: 2px solid #fff;
    }
  }

  a + a { margin-top: 25px; }
}

.social-nav {
  a {
    display: inline-block;
    text-indent: -100%;
    overflow: hidden;
    background-image: url('../img/sprite.svg');
    width: 25px;
    height: 25px;
    background-size: 1420px 310px;
    margin-right: -4px;

    &.linkedin {
      background-position: -555px 167px;

      &:hover,
      &:focus {
        background-position: -590px 167px;
      }

      &:active {
        background-position: -625px 167px;
      }
    }
    &.behance {
      background-position: -660px 167px;

      &:hover,
      &:focus {
        background-position: -695px 167px;
      }

      &:active {
        background-position: -730px 167px;
      }
    }
    &.dribbble {
      background-position: -765px 167px;

      &:hover,
      &:focus {
        background-position: -800px 167px;
      }

      &:active {
        background-position: -835px 167px;
      }
    }
  }

  a + a { margin-left: 15px; }
}

/* ==========================================================================
   SECTION GLOBALS
   ========================================================================== */
.site-content {
  overflow: hidden;
}

.section {
  padding: 45px 30px;
}

.container {
  position: relative;
  width: 260px;
  margin: 0 auto;
}

.section.profile,
.section.tools {
  background-color: $brown;
}

.section.skills,
.section.education {
  background-color: $green;
}

.section.portfolio,
.section.experience {
  background-color: $grey;
}

.section.site-footer {
  background-color: $text-color;
}

.section-title {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 70px;

  &:before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/sprite_xl.svg);
    background-size: 378px 70px;
    background-repeat: no-repeat;
  }
}

.section.portfolio,
.section.experience {
  .section-title { color: $brown; }
}

.section.footer .section-title { color: $green; }

.quote {
  position: relative;
  margin: 35px 0 0 0;
  font-family: 'Domine', serif;
  font-size: 12px;
  padding: 25px;
  border-radius: 15px;
  border: 2px dashed;

  &:before,
  &:after,
  p:after {
    content: "";
    position: absolute;
  }

  &:before {
    border-right: 2px dashed;
  }

  &:after {
    border-right: 2px dashed;
  }

  p {
    position: relative;
    margin: 0;
  }
}

/* ==========================================================================
   PROFILE SECTION
   ========================================================================== */
.is-relative {
  position: relative !important;
}

.profile {
  .section-title:before { background-position: -108px -10px; }

  .intro {
    font-family: 'Domine', serif;
    margin-bottom: 45px;
    font-size: 15px;
  }

  .image {
    border-radius: 50%;
    width: 50%;
    height: auto;
    float: right;
  }

  .image.placeholder {
    position: relative;
    z-index: 2;
    filter: blur(2px);
    opacity: 1;
    animation: fadeOut .3s cubic-bezier(0.55, 0.09, 0.68, 0.53) 1 forwards;
  }
  .is-paused {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    animation-play-state: paused !important;
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

  .image.original {
    position: absolute;
    opacity: 1;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}

/* ==========================================================================
   SKILLS SECTION
   ========================================================================== */

.skills {
  padding-bottom: 88px;

  .section-title:before { background-position: -330px -10px; }

  .card {
    border-radius: 15px;
    background-color: #fff;
    margin-bottom: 35px;
  }

  .card-title {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
  }

  .card-list {
    background-color: $brown;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
    border-radius: 0 0 15px 15px;

    li + li { margin-top: 10px; }
  }

  .highlight {
    border-radius: 15px;
    background-color: $yellow;
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    padding: 25px;

    span {
      position: relative;
      display: inline-block;
      padding-left: 40px;

      &:before {
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../img/sprite.svg);
        background-size: 1850px 310px;
        background-position: 662px 169px;
      }
    }
  }

  .quote {
    border-color: $brown;

    &:before,
    &:after {
      border-color: $brown;
    }

    &:before {
      right: 33px;
      bottom: -68px;
      height: 68px;
      transform: rotate(-22deg);
    }

    &:after {
      right: 20px;
      bottom: -65px;
      height: 65px;
    }

    p:after {
      right: -3px;
      bottom: -27px;
      height: 20px;
      width: 25px;
      background-color: $green;
    }
  }

  .chameleon {
    position: absolute;
    bottom: -80px;
    right: 28px;
    transform: translateY(50%);
    width: 120px;

    .cls-1{ fill:#a4bed7; }
    .cls-2{ fill:#d5af86; }
    .cls-3{ fill:#ffffff; }
    .cls-4{ fill:#cfe795; }
    .cls-5{ fill:#a4d7c7; }
  }
}

/* ==========================================================================
   PORTFOLIO SECTION
   ========================================================================== */
.portfolio {
  padding-top: 60px;
  padding-bottom: 150px;

  .section-title:before { background-position: -54px -10px; }

  .image-link {
    display: block;
    overflow: hidden;
    position: relative;
    max-height: 250px;

    &:hover,
    &:focus {
      .hover { z-index: 1; }
    }
  }

  .image {
    width: 100%;
    height: auto;
  }

  .image.placeholder {
    position: relative;
    z-index: 2;
    filter: blur(6px);
    opacity: 1;
    animation: fadeOut .3s cubic-bezier(0.55, 0.09, 0.68, 0.53) 1 forwards;
  }

  .is-paused {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    animation-play-state: paused !important;
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

  .image.original {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .image.hover {
    position: absolute;
    top: 0;
    left: 0;
  }

  .item-title {
    display: block;
    color: $brown;
    font-family: 'Montserrat';
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
  }

  .item-description {
    font-family: 'Domine', serif;
    display: block;
    font-size: 12px;
    text-align: center;
    margin-bottom: 35px;
  }

  .quote {
    border-color: $green;

    &:before,
    &:after {
      border-color: $green;
    }

    &:before {
      left: 85px;
      bottom: -65px;
      height: 75px;
      transform: rotate(-45deg);
    }

    &:after {
      left: 110px;
      bottom: -55px;
      height: 54px;
      transform: rotate(-5deg);
    }

    p:after {
      left: 36px;
      bottom: -27px;
      height: 20px;
      width: 48px;
      background-color: $grey;
    }
  }

  .chameleon {
    position: absolute;
    bottom: -410px;
    right: -160px;
    width: 325px;

    .cls-1{ fill:#d5af86; }
    .cls-2{ fill:#ffffff; }
    .cls-3{ fill:#fbd37c; }
    .cls-4{ fill:#f2f2f2; }
    .cls-5{ fill:#cfe795; }
  }
}


/* ==========================================================================
   TOOLS SECTION
   ========================================================================== */
.tools {
  padding-bottom: 65px;

  .section-title:before { background-position: -163px -10px; }

  .list {
    font-family: "Hind", serif;
    font-size: 15px;
  }

  .item {
    margin-bottom: 20px;
    display: flex;
  }

  .item-title {
    width: 60%;
    text-align: right;
  }

  .item-rating {
    width: 40%;
    text-align: left;
    padding-left: 20px;

    span {
      border-radius: 50%;
      display: inline-block;
      background-color: #000;
      border: 1px solid #000;
      width: 10px;
      height: 10px;
    }

    &.one span:nth-last-child(-n+4),,
    &.two span:nth-last-child(-n+3),
    &.three span:nth-last-child(-n+2),
    &.four span:nth-last-child(-n+2), {
      background: none;
    }
  }

  .quote {
    border-color: $blue;

    &:before,
    &:after {
      border-color: $blue;
    }

    &:before {
      left: 30px;
      bottom: -107px;
      height: 107px;
      transform: rotate(5deg);
    }

    &:after {
      left: 44px;
      bottom: -110px;
      height: 110px;
      transform: rotate(19deg);
    }

    p:after {
      left: 10px;
      bottom: -27px;
      height: 20px;
      width: 30px;
      background-color: $brown;
    }
  }

  .chameleon {
    position: absolute;
    bottom: -185px;
    right: 0;
    width: 235px;

    .cls-1{ fill:#d5af86; }
    .cls-2{ fill:#a4bed7; }
    .cls-3{ fill:#ffffff; }
    .cls-4{ fill:#cfe795; }
    .cls-5{ fill:#a4d7c7; }
  }
}


/* ==========================================================================
   EDUCATION SECTION
   ========================================================================== */

.education {
  padding-top: 140px;

  .extras.container { padding-left: 35px; }
  .section-title:before { background-position: -220px -10px; }

  .heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
  }

  .title,
  .item,
  .courses {
    font-family: 'Hind', serif;
    margin: 0;
  }

  .item {
    margin-bottom: 50px;
  }

  .title,
  .description li {
    padding: 10px 10px 10px 35px;
    position: relative;

    &:before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 10px;
      top: 10px;
      background-image: url(../img/sprite.svg);
      background-size: 850px 310px;
    }
  }

  .description li {
    &:nth-child(1):before { background-position: -642px 161px; }
    &:nth-child(2):before { background-position: -681px 161px; }
    &:nth-child(3):before { background-position: -725px 162px; }
    &:nth-child(4):before { background-position: -765px 162px; }
  }

  .title {
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $brown;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 1.1px;

    &:before {
      top: 13px;
      background-position: -596px 163px;
    }
  }

  .description li:last-child {
    padding-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .description,
  .course .name,
  .course .place {
    color: #000;
    font-size: 12px;
    line-height: 14px;

    li:nth-child(odd) { background-color: $grey; }
    li:nth-child(even) { background-color: #fff; }
  }

  .course {
    margin-bottom: 25px;

    .name,
    .place {
      padding-left: 25px;
      display: block;
      position: relative;

      &:before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../img/sprite.svg);
        background-size: 750px 310px;
      }
    }

    .name:before { background-position: 204px 161px; }
    .place:before { background-position: 130px 161px; }

    .place {
      margin-top: 7px;
    }
  }
}


/* ==========================================================================
   EXPERIENCE SECTION
   ========================================================================== */
.experience {
  padding-bottom: 95px;

  .section-title:before { background-position: -275px -10px; }

  .card + .card { margin-top: 35px; }

  .list {
    background-color: $green;
    color: $text-color;
    font-family: 'Hind', sans-serif;
    font-size: 12px;
    border-radius: 5px;
  }

  .item {
    padding: 10px 25px;
    position: relative;

    &:nth-child(even) { background-color: $purple; }

    &:before {
      content: "";
      width: 18px;
      height: 15px;
      position: absolute;
      left: 20px;
      top: 17px;
      transform: translateY(-50%);
      background-image: url(../img/sprite.svg);
      background-size: 830px 310px;
      background-position: 63px 163px;
    }

    &:nth-child(2):before {
      background-size: 1100px 310px;
      background-position: 245px 163px;
    }

    &:nth-child(3):before {
      background-position: 104px 163px;
    }
  }

  .item-description {
    padding-left: 25px;
    display: inline-block;
  }

  .chameleon {
    position: absolute;
    bottom: -213px;
    right: -436px;
    width: 530px;

    .cls-1{ fill:#ff9b6d; }
    .cls-2{ fill:#d5af86; }
    .cls-3{ fill:#ffffff; }
    .cls-4{ fill:#a4d7c7; }
    .cls-5{ fill:#f2f2f2; }
  }
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

.site-footer {
  .section-title:before { background-position: 0 -10px; }

  .note {
    color: $brown;
    text-align: center;
    margin-bottom: 45px;
    font-family: "Domine", serif;
    font-size: 14px;
  }
}

.contacts a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: "Hind", sans-serif;
  font-size: 22px;
  border-radius: 15px;
  color: $text-color;
  box-shadow: 0 5px 0 0 $orange;
  background-color: $yellow;
  padding: 5px 30px 0 50px;
  width: 100%;
  margin-bottom: 25px;

  &:hover,
  &:focus {
    background-color: #fbe87c;
    box-shadow: 0 5px 0 0 #ff9b6d;
  }

  &:active {
    transform: translate(0, 5px);
    box-shadow: 0 1px 0 0;
  }

  &:before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/sprite.svg);
    background-size: 1400px 113px;
  }

  &.tel:before { background-position: 1470px 182px; }
  &.email:before { background-position: 1435px 182px; }
}

@media (min-width: $tablet-breakpoint) {
  .section { padding: 60px; }
  .container { width: 648px; }

  .section-title {
    font-size: 35px;
    padding-left: 95px;
    margin-bottom: 80px;

    &:before {
      width: 77px;
      height: 77px;
      background-size: 588px 120px;
    }
  }

  .profile     .section-title:before { background-position: -170px -22px; }
  .skills      .section-title:before { background-position: -512px -22px; }
  .portfolio   .section-title:before { background-position: -84px -22px;  }
  .tools       .section-title:before { background-position: -256px -22px; }
  .education   .section-title:before { background-position: -341px -22px; }
  .experience  .section-title:before { background-position: -427px -22px; }
  .site-footer .section-title:before { background-position: 1px -22px;    }

  .profile {
    .intro {
      float: left;
      font-size: 18px;
      width: 420px;
      padding-right: 40px;
      margin-bottom: 0;
    }

    .image {
      width: 190px;
    }
  }

  .section.skills { padding-bottom: 75px; }
  .skills {
    .card,
    .highlight,
    .quote {
      float: left;
      width: 304px;
    }

    .card:nth-child(even),
    .highlight,
    .quote {
      margin-left: 40px;
    }

    .card {
      margin-bottom: 40px;
      &:nth-child(2n + 1) { clear: both; }
    }

    .card-title {
      font-size: 20px;
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .card-list {
      font-size: 17px;
      padding-top: 41px;
      padding-bottom: 41px;
    }

    .highlight {
      font-size: 16px;
      padding: 15px 25px;
    }

    .quote {
      margin-top: 20px;
      font-size: 15px;

      &:before {
        right: 86px;
        bottom: -85px;
        height: 85px;
        transform: none;
      }

      &:after {
        right: 65px;
        bottom: -89px;
        height: 93px;
        transform: rotate(27deg);
      }

      p:after {
        right: 22px;
        bottom: -27px;
        height: 20px;
        width: 38px;
      }
    }

    .chameleon {
      width: 136px;
      bottom: -47px;
      right: 100px;
    }
  }

  .portfolio {
    .list {
      display: flex;
      flex-flow: row wrap;
    }

    .item {
      width: 304px;
      &:nth-child(even) { margin-left: 40px; }
    }

    .item-title { font-size: 20px; }
    .item-description { font-size: 14px; }

    .quote {
      width: 420px;
      font-size: 15px;

      &:before {
        left: auto;
        right: -30px;
        bottom: 40px;
      }

      &:after {
        left: auto;
        right: -30px;
        bottom: 24px;
        height: 54px;
        transform: rotate(90deg);
      }

      p:after {
        left: auto;
        right: -27px;
        bottom: 29px;
        height: 48px;
        width: 20px;
      }
    }

    .chameleon {
      bottom: -375px;
      right: -215px;
      width: 415px;
    }
  }

  .section.tools { padding-bottom: 97px; }
  .tools {
    .list {
      display: flex;
      flex-flow: row wrap;
      font-size: 18px;
    }

    .item {
      width: 304px;
      &:nth-child(even) { margin-left: 40px; }
    }

    .item-rating {
      padding-left: 30px;

      span {
        width: 11px;
        height: 11px;
        margin-left: 3px;
      }
    }

    .quote {
      font-size: 15px;

      &:before {
        left: 330px;
        bottom: -135px;
        height: 135px;
        transform: rotate(-25deg);
      }

      &:after {
        left: 353px;
        bottom: -128px;
        height: 128px;
        transform: rotate(-5deg);
      }

      p:after {
        left: 276px;
        width: 45px;
      }
    }

    .chameleon {
      bottom: -245px;
      right: -40px;
      width: 315px;
    }
  }

  .education {
    .bachelor.wrapper { padding-left: 115px; }

    .item {
      width: 535px;
      margin-bottom: 75px;
    }

    .heading { margin-bottom: 32px; }
    .extras .heading { margin-bottom: 53px; }

    .heading,
    .description {
      font-size: 19px;
    }

    .title,
    .description li {
      padding: 20px 75px 20px 50px;
    }

    .title {
      font-size: 24px;
      &:before {
        background-position: 413px 177px;
        background-size: 1380px 330px;
        width: 25px;
        height: 25px;
        top: 18px;
        left: 12px;
      }
    }

    .description li {
      line-height: 1;
      &:before {
        background-size: 1380px 330px;
        top: 13px;
        left: 13px;
        width: 25px;
        height: 25px;
      }

      &:nth-child(1):before { background-position: 339px 177px; }
      &:nth-child(2):before { background-position: 275px 177px; }
      &:nth-child(3):before { background-position: 203px 177px; }
      &:nth-child(4):before { background-position: 137px 180px; }

      &:last-child {
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 1px;
      }
    }

    .extras.container { padding-left: 20px; }
    .courses {
      -webkit-columns: 190px 3;
      -moz-columns: 190px 3;
      columns: 190px 3;
    }

    .course {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      display: inline-block;
      display: inline-block;
      width: 100%;
    }
  }

  .experience {
    .first.card { margin-left: 115px; }

    .card {
      width: 535px;
      margin-bottom: 80px;
    }

    .list { font-size: 20px; }

    .item {
      padding: 27px 25px 23px 123px;

      &:before {
        width: 35px;
        height: 35px;
        left: 45px;
        top: 42px;
      }

      &:before {
        background-size: 1770px 330px;
      }

      &:nth-child(1):before { background-position: 133px 182px; }
      &:nth-child(2):before {
        background-size: 1890px 330px;
        background-position: 423px 182px;
      }
      &:nth-child(3):before { background-position: 220px 182px; }
    }

    .chameleon {
      bottom: -210px;
      right: -495px;
      width: 709px;
    }
  }

  .section.site-footer { padding-top: 80px; }
  .site-footer {
    .section-title {
      width: 420px;
      &:before { top: 30px; }
    }

    .container {
      display: flex;
      flex-flow: row wrap;
    }

    .note {
      font-size: 17px;
      flex: 1;
    }
  }

  .contacts {
    display: flex;
    width: 100%;

    a {
      font-size: 25px;
      width: 304px;
    }
    .email { margin-left: 40px; }
  }
}

@media (min-width: $desktop-breakpoint) {
  body {
    padding-top: 60px;
  }

  .container {
    width: 716px;
  }

  .site-header {
    height: 60px;
    padding: 0 25px;
  }

  #logo {
    font-size: 15px;
    padding-left: 38px;

    &:before {
      width: 30px;
      height: 30px;
      background-size: 1400px 310px;
      background-position: -121px 170px;
      left: 0;
      top: -3px;
    }

    &:hover:before,
    &:focus:before {
      background-position: -159px 170px;
    }

    &:active:before {
      background-position: -197px 170px;
    }
  }

  .menu-trigger {
    display: none;
  }

  .menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 5px 0 0 0;
    position: relative;
    background: none;
    max-height: none;
    height: auto;
    width: auto;
    top: auto;
  }

  .main-nav {
    display: inline-block;
    vertical-align: top;
    font-family: "Hind", sans-serif;
    font-size: 15px;

    a {
      display: inline-block;

      &:hover,
      &:focus {
        color: $brown;
        border: none;
      }

      &.active {
        border-bottom: 2px solid $yellow;
      }
    }

    a + a {
      margin-top: 0;
      margin-left: 15px;
    }
  }

  .social-nav {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    line-height: 1;

    a + a {
      margin-left: 10px;
    }

    a {
      background-size: 1620px 310px;
      width: 29px;
      height: 30px;

      &.linkedin {
        background-position: -273px 170px;

        &:hover,
        &:focus {
          background-position: -313px 170px;
        }

        &:active {
          background-position: -353px 170px;
        }
      }

      &.behance {
        background-position: -393px 170px;

        &:hover,
        &:focus {
          background-position: -433px 170px;
        }

        &:active {
          background-position: -473px 170px;
        }
      }

      &.dribbble {
        background-position: -513px 170px;

        &:hover,
        &:focus {
          background-position: -553px 170px;
        }

        &:active {
          background-position: -593px 170px;
        }
      }
    }
  }

  .profile {
    .intro {
      font-size: 20px;
      width: 450px;
    }

    .image {
      width: 210px;
    }
  }

  .skills {
    .card,
    .highlight,
    .quote {
      width: 333px;
    }

    .card:nth-child(even),
    .highlight,
    .quote {
      margin-left: 50px;
    }

    .card-title {
      font-size: 26px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .card-list {
      font-size: 20px;
    }

    .quote {
      padding: 30px 35px;
      font-size: 16px;
      margin-top: 40px;

      p:after {
        bottom: -33px;
        right: 12px;
      }
    }
  }

  .portfolio {
    .item {
      width: 333px;

      &:nth-child(even) {
        margin-left: 50px;
      }
    }

    .quote {
      width: 455px;
    }

    .chameleon {
      right: -185px;
    }
  }

  .tools {
    .item {
      width: 333px;
      &:nth-child(even) {
        margin-left: 50px;
      }
    }

    .quote {
      font-size: 16px;
      padding: 25px 70px;

      &:before {
        left: 400px;
      }

      &:after {
        left: 423px;
      }

      p:after {
        left: 303px;
      }
    }
  }

  .education {
    .item {
      width: 580px;
    }

    .title,
    .description li {
      padding: 24px 75px 22px 80px;
    }

    .title {
      font-size: 26px;

      &:before {
        top: 23px;
        left: 25px;
      }
    }

    .description {
      font-size: 22px;

      li {
        &:before {
          top: 20px;
          left: 25px;
        }

        &:last-child {
          font-size: 18px;
        }
      }
    }

    .course .name,
    .course .place {
      font-size: 13px;
    }
  }

  .experience {
    .card {
      width: 580px;
    }

    .first.card {
      margin-left: 136px;
    }

    .list {
      font-size: 27px;
    }

    .item:before {
      top: 46px;
    }
  }

  .site-footer {
    .note {
      font-size: 19px;
    }

    .contacts a {
      font-size: 27px;
      padding: 7px 30px 2px 50px;
    }
  }
}

@media (min-width: $large-desktop-breakpoint) {
  body {
    padding-top: 75px;
  }

  .site-header {
    height: 75px;
    padding: 0 30px;
  }

  #logo {
    font-size: 18px;
    padding-left: 50px;

    &:before {
      width: 45px;
      height: 40px;
      background-size: 1900px 310px;
      background-position: -165px 175px;
      top: -5px;
    }

    &:hover:before,
    &:focus:before {
      background-position: -217px 175px;
    }

    &:active:before {
      background-position: -269px 175px;
    }
  }

  .main-nav {
    font-size: 17px;

    a + a {
      margin-left: 25px;
    }
  }

  .social-nav {
    margin-left: 65px;

    a {
      background-size: 2020px 310px;
      width: 38px;
      height: 37px;

      &.linkedin {
        background-position: -340px 173px;

        &:hover,
        &:focus {
          background-position: -390px 173px;
        }

        &:active {
          background-position: -440px 173px;
        }
      }

      &.behance {
        background-position: -489px 173px;

        &:hover,
        &:focus {
          background-position: -539px 173px;
        }

        &:active {
          background-position: -589px 173px;
        }
      }

      &.dribbble {
        background-position: -638px 173px;

        &:hover,
        &:focus {
          background-position: -688px 173px;
        }

        &:active {
          background-position: -738px 173px;
        }
      }
    }
  }

  .section {
    padding: 120px 90px;
  }

  .container {
    width: 1100px;
  }

  .section-title {
    font-size: 50px;
    padding-left: 150px;
    margin-bottom: 130px;

    &:before {
      width: 120px;
      height: 120px;
      background-size: 918px 120px;
    }
  }

  .profile     .section-title:before { background-position: -266px 0; }
  .skills      .section-title:before { background-position: -802px 0; }
  .portfolio   .section-title:before { background-position: -134px 0; }
  .tools       .section-title:before { background-position: -396px 0; }
  .education   .section-title:before { background-position: -533px 0; }
  .experience  .section-title:before { background-position: -667px 0; }
  .site-footer .section-title:before { top: 43px; background-position: 1px 0; }

  .profile {
    .intro {
      font-size: 27px;
      width: 718px;
    }

    .image {
      width: 238px;
    }
  }

  .section.skills { padding-bottom: 125px; }
  .skills {
    .cards {
      display: flex;
      flex-flow: row wrap;
    }

    .card {
      float: none;
      width: 333px;
      margin-bottom: 50px;

      &:nth-child(2n+1) {
        clear: none;
      }
    }

    .card + .card {
      margin-left: 50px;
    }

    .card-title {
      font-size: 26px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .card-list {
      font-size: 20px;
      padding-top: 41px;
      padding-bottom: 41px;
    }

    .highlight,
    .quote {
      float: left;
    }

    .highlight {
      margin-left: 0;
      width: 334px;
      font-size: 17px;
      padding-top: 40px;
      padding-bottom: 35px;
    }

    .quote {
      margin-top: 0;
      margin-left: 50px;
      width: 716px;
      font-size: 18px;
      padding: 19px 70px 18px 25px;

      &:before {
        right: 200px;
        bottom: -79px;
        height: 88px;
        transform: rotate(40deg);
      }

      &:after {
        right: 175px;
        bottom: -97px;
        height: 125px;
        transform: rotate(57deg);
      }

      p:after {
        right: 57px;
        bottom: -21px;
        width: 45px;
      }
    }

    .chameleon {
      width: 181px;
      bottom: -90px;
      right: 243px;
    }
  }


  .section.portfolio { padding-bottom: 60px; }
  .portfolio {
    .item {
      width: 333px;
      margin-bottom: 60px;

      &:nth-child(even) { margin-left: auto; }

      &:nth-child(2),
      &:nth-child(5) {
        margin-left: 50px;
        margin-right: 50px;
      }
    }

    .item-title {
      font-size: 23px;
    }

    .item-description {
      font-size: 16px;
    }

    .quote {
      width: 718px;
      font-size: 18px;

      &:before {
        right: -52px;
        bottom: 53px;
        height: 100px;
        transform: rotate(-85deg);
      }

      &:after {
        right: -53px;
        bottom: 34px;
        height: 102px;
        transform: rotate(75deg);
      }

      p:after {
        right: -27px;
        bottom: 46px;
        height: 35px;
      }
    }

    .chameleon {
      bottom: -465px;
      right: -255px;
      width: 545px;
    }
  }

  .section.tools { padding-bottom: 80px; }
  .tools {
    .list {
      font-size: 19px;
    }

    .item {
      width: 333px;
      margin-left: 50px;

      &:nth-child(even) { margin-left: 50px; }

      &:first-child,
      &:nth-child(3n+4) {
        margin-left: 0;
      }
    }

    .quote {
      margin-top: 90px;
      width: 718px;
      float: right;

      &:before {
        left: 228px;
        bottom: -167px;
        height: 182px;
        transform: rotate(-35deg);
      }

      &:after {
        left: 250px;
        bottom: -156px;
        height: 162px;
        transform: rotate(-22deg);
      }

      p:after {
        left: 153px;
        width: 43px;
      }
    }

    .chameleon {
      width: 420px;
      right: 20px;
      bottom: -285px;
    }
  }

  .education.section { padding-bottom: 200px; }
  .education {
    .container > .container {
      float: left;
      width: 718px;
    }

    .container > .extras.container {
      float: right;
      width: 238px;
    }

    .bachelor.wrapper {
      padding-left: 0;
    }

    .heading {
      font-size: 28px;
    }

    .extras .heading {
      margin-top: 11px;
      margin-bottom: 37px;
      font-size: 19px;
    }

    .item {
      width: 100%;
      margin-bottom: 0;
    }

    .wrapper + .wrapper {
      margin-top: 150px;
    }

    .title:before,
    .description li:before {
      background-size: 2230px 330px;
      width: 45px;
      height: 35px;
    }

    .title {
      font-size: 32px;
      padding-top: 25px;
      padding-bottom: 25px;

      &:before {
        background-position: 667px 182px;
        left: 43px;
        top: 22px;
      }
    }

    .description {
      font-size: 25px;

      li {
        padding-top: 25px;
        padding-bottom: 20px;

        &:before {
          top: 20px;
          left: 43px;
        }

        &:nth-child(1):before {
          background-position: 549px 183px;
        }

        &:nth-child(2):before {
          background-position: 449px 183px;
        }

        &:nth-child(3):before {
          background-position: 331px 183px;
          height: 40px;
        }

        &:nth-child(4):before {
          background-position: 225px 183px;
        }
      }

      li:last-child {
        font-size: 18px;
        line-height: 31px;
        letter-spacing: 0;
      }
    }

    .title,
    .description li {
      padding: 25px 125px;
    }

    .courses {
      columns: auto auto;
    }

    .course {
      margin-bottom: 30px;
      -webkit-column-break-inside: auto;
      page-break-inside: auto;
      break-inside: auto;

      .name,
      .place {
        font-size: 13px;

        &:before {
          background-size: 780px 310px;
          width: 17px;
        }
      }

      .name:before {
        background-position: 212px 161px;
      }

      .place:before {
        background-position: 136px 161px;
      }
    }
  }

  .experience {
    .first.card {
      margin-left: 288px;
    }

    .card {
      width: 718px;
    }

    .list {
      font-size: 33px;
    }

    .item {
      &:before {
        width: 45px;
        height: 39px;
        top: 50px;
      }

      &:nth-child(1):before {
        background-size: 2050px 330px;
        background-position: 156px 184px;
      }

      &:nth-child(2):before {
        background-size: 2700px 330px;
        background-position: 601px 184px;
        top: 52px;
      }

      &:nth-child(3):before {
        background-size: 2100px 330px;
        background-position: 264px 185px;
      }
    }

    .chameleon {
      width: 936px;
      right: -653px;
      bottom: -275px;
    }
  }

  .site-footer {
    .container {
      justify-content: space-between;
    }

    .note {
      flex: initial;
      width: 526px;
      font-size: 22px;
    }

    .contacts a {
      width: 718px;
      font-size: 41px;

      &:before {
        width: 35px;
        height: 35px;
        background-size: 1950px 113px;
      }

      &.tel:before {
        background-position: 2045px 187px;
      }

      &.email:before {
        background-position: 1999px 187px; 
      }
    }
  }
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}