$text-color: #353330;
$yellow: #fbd37c;
$orange: #ff9b6d;
$brown: #d5af86;
$green: #a4d7c7;
$grey: #f2f2f2;
$blue: #1e91d6;
$purple: #a4bed7;

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1280px;
$site-max-width: 1280px;

@import 'base';

// intro
@import 'intro/intro';
@import 'intro/intro_tablet';
@import 'intro/intro_large_desktop';

// header
@import 'header/header';
@import 'header/header_desktop';
@import 'header/header_large_desktop';

// profile
@import 'profile/profile';
@import 'profile/profile_tablet';
@import 'profile/profile_desktop';
@import 'profile/profile_large_desktop';

// skills
@import 'skills/skills';
@import 'skills/skills_tablet';
@import 'skills/skills_desktop';
@import 'skills/skills_large_desktop';

// portfolio
@import 'portfolio/portfolio';
@import 'portfolio/portfolio_mobile';
@import 'portfolio/portfolio_tablet';
@import 'portfolio/portfolio_desktop';
@import 'portfolio/portfolio_large_desktop';

// tools
@import 'tools/tools';
@import 'tools/tools_mobile';
@import 'tools/tools_tablet';
@import 'tools/tools_desktop';
@import 'tools/tools_large_desktop';

// education
@import 'education/education';
@import 'education/education_tablet';
@import 'education/education_desktop';
@import 'education/education_large_desktop';

// experience
@import 'experience/experience';
@import 'experience/experience_tablet';
@import 'experience/experience_desktop';
@import 'experience/experience_large_desktop';

// footer
@import 'footer/footer';
@import 'footer/footer_mobile';
@import 'footer/footer_tablet';
@import 'footer/footer_desktop';
@import 'footer/footer_large_desktop';