/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Sass variables
   ========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  box-sizing: border-box; }

html {
  color: #353330;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
img,
svg {
  vertical-align: middle; }

img {
  width: 100%; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  padding-top: 50px; }

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }

.site-header {
  position: fixed;
  top: 0;
  z-index: 3;
  height: 50px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; }

#logo {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1px;
  color: #353330;
  padding-left: 45px; }

#logo,
.menu-trigger {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase; }

.menu-trigger {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  background-color: #fbd37c;
  color: #fff;
  letter-spacing: 1px;
  align-items: center;
  padding: 15px 12px;
  width: 66px; }
  .menu-trigger:hover, .menu-trigger:focus {
    color: #000;
    outline: 0; }

.menu-trigger.triggered {
  position: relative;
  text-indent: 66px; }
  .menu-trigger.triggered:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/sprite.svg);
    background-size: 1850px 380px;
    background-position: 719px -183px; }

.triggered + .menu {
  display: flex; }

.menu {
  display: none;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 100vh;
  max-height: 480px;
  position: absolute;
  right: 0;
  top: 50px;
  width: 230px;
  padding: 30px 40px 30px 60px;
  background-color: #fbd37c;
  font-size: 16px; }
  .menu.visible {
    display: flex; }
  .menu a {
    text-decoration: none;
    color: #353330; }

.main-nav a {
  display: block; }
  .main-nav a:hover, .main-nav a:focus {
    color: #fff; }

.main-nav a + a {
  margin-top: 25px; }

.social-nav a {
  display: inline-block;
  text-indent: -100%;
  overflow: hidden;
  background-image: url("../img/sprite.svg");
  width: 25px;
  height: 25px;
  background-size: 1420px 310px;
  margin-right: -4px; }
  .social-nav a.linkedin {
    background-position: -555px 167px; }
    .social-nav a.linkedin:hover, .social-nav a.linkedin:focus {
      background-position: -590px 167px; }
    .social-nav a.linkedin:active {
      background-position: -625px 167px; }
  .social-nav a.behance {
    background-position: -660px 167px; }
    .social-nav a.behance:hover, .social-nav a.behance:focus {
      background-position: -695px 167px; }
    .social-nav a.behance:active {
      background-position: -730px 167px; }
  .social-nav a.dribbble {
    background-position: -765px 167px; }
    .social-nav a.dribbble:hover, .social-nav a.dribbble:focus {
      background-position: -800px 167px; }
    .social-nav a.dribbble:active {
      background-position: -835px 167px; }

.social-nav a + a {
  margin-left: 15px; }

/* ==========================================================================
   SECTION GLOBALS
   ========================================================================== */
.site-content {
  overflow: hidden; }

.section {
  padding: 45px 30px; }

.container {
  position: relative;
  max-width: 260px;
  margin: 0 auto; }

.section.profile,
.section.tools {
  background-color: #d5af86; }

.section.skills,
.section.education {
  background-color: #a4d7c7; }

.section.portfolio,
.section.experience {
  background-color: #f2f2f2; }

.section.site-footer {
  background-color: #353330; }

.section-title {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 70px; }
  .section-title:before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/sprite_xl.svg);
    background-size: 378px 70px;
    background-repeat: no-repeat; }

.section.portfolio .section-title,
.section.experience .section-title {
  color: #d5af86; }

.section.footer .section-title {
  color: #a4d7c7; }

.quote {
  position: relative;
  margin: 35px 0 0 0;
  font-family: 'Domine', serif;
  font-size: 12px;
  padding: 25px;
  border-radius: 15px;
  border: 2px dashed; }
  .quote:before, .quote:after,
  .quote p:after {
    content: "";
    position: absolute; }
  .quote:before {
    border-right: 2px dashed; }
  .quote:after {
    border-right: 2px dashed; }
  .quote p {
    position: relative;
    margin: 0; }

/* ==========================================================================
   PROFILE SECTION
   ========================================================================== */
.is-relative {
  position: relative !important; }

.profile .section-title:before {
  background-position: -108px -10px; }

.profile .intro {
  font-family: 'Domine', serif;
  margin-bottom: 45px;
  font-size: 15px; }

.profile .image {
  border-radius: 50%;
  width: 50%;
  height: auto;
  float: right; }

.profile .image.placeholder {
  position: relative;
  z-index: 2;
  filter: blur(2px);
  opacity: 1;
  animation: fadeOut 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53) 1 forwards; }

.profile .is-paused {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  animation-play-state: paused !important; }

@keyframes fadeOut {
  to {
    opacity: 0; } }

.profile .image.original {
  position: absolute;
  opacity: 1;
  bottom: 0;
  right: 0;
  z-index: 1; }

/* ==========================================================================
   SKILLS SECTION
   ========================================================================== */
.skills {
  padding-bottom: 88px; }
  .skills .section-title:before {
    background-position: -330px -10px; }
  .skills .card {
    border-radius: 15px;
    background-color: #fff;
    margin-bottom: 35px; }
  .skills .card-title {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    text-align: center;
    font-size: 17px;
    font-weight: normal; }
  .skills .card-list {
    background-color: #d5af86;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
    border-radius: 0 0 15px 15px; }
    .skills .card-list li + li {
      margin-top: 10px; }
  .skills .highlight {
    border-radius: 15px;
    background-color: #fbd37c;
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    padding: 25px; }
    .skills .highlight span {
      position: relative;
      display: inline-block;
      padding-left: 40px; }
      .skills .highlight span:before {
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../img/sprite.svg);
        background-size: 1850px 310px;
        background-position: 662px 169px; }
  .skills .quote {
    border-color: #d5af86; }
    .skills .quote:before, .skills .quote:after {
      border-color: #d5af86; }
    .skills .quote:before {
      right: 33px;
      bottom: -68px;
      height: 68px;
      transform: rotate(-22deg); }
    .skills .quote:after {
      right: 20px;
      bottom: -65px;
      height: 65px; }
    .skills .quote p:after {
      right: -3px;
      bottom: -27px;
      height: 20px;
      width: 25px;
      background-color: #a4d7c7; }
  .skills .chameleon {
    position: absolute;
    bottom: -80px;
    right: 28px;
    transform: translateY(50%);
    width: 120px; }
    .skills .chameleon .cls-1 {
      fill: #a4bed7; }
    .skills .chameleon .cls-2 {
      fill: #d5af86; }
    .skills .chameleon .cls-3 {
      fill: #ffffff; }
    .skills .chameleon .cls-4 {
      fill: #cfe795; }
    .skills .chameleon .cls-5 {
      fill: #a4d7c7; }

/* ==========================================================================
   PORTFOLIO SECTION
   ========================================================================== */
.portfolio {
  padding-top: 60px;
  padding-bottom: 150px; }
  .portfolio .section-title:before {
    background-position: -54px -10px; }
  .portfolio .image-link {
    display: block;
    overflow: hidden;
    position: relative;
    max-height: 250px; }
    .portfolio .image-link:hover .hover, .portfolio .image-link:focus .hover {
      z-index: 1; }
  .portfolio .image {
    width: 100%;
    height: auto; }
  .portfolio .image.placeholder {
    position: relative;
    z-index: 2;
    filter: blur(6px);
    opacity: 1;
    animation: fadeOut 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53) 1 forwards; }
  .portfolio .is-paused {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    animation-play-state: paused !important; }

@keyframes fadeOut {
  to {
    opacity: 0; } }
  .portfolio .image.original {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 1; }
  .portfolio .image.hover {
    position: absolute;
    top: 0;
    left: 0; }
  .portfolio .item-title {
    display: block;
    color: #d5af86;
    font-family: 'Montserrat';
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 15px; }
  .portfolio .item-description {
    font-family: 'Domine', serif;
    display: block;
    font-size: 12px;
    text-align: center;
    margin-bottom: 35px; }
  .portfolio .quote {
    border-color: #a4d7c7; }
    .portfolio .quote:before, .portfolio .quote:after {
      border-color: #a4d7c7; }
    .portfolio .quote:before {
      left: 85px;
      bottom: -65px;
      height: 75px;
      transform: rotate(-45deg); }
    .portfolio .quote:after {
      left: 110px;
      bottom: -55px;
      height: 54px;
      transform: rotate(-5deg); }
    .portfolio .quote p:after {
      left: 36px;
      bottom: -27px;
      height: 20px;
      width: 48px;
      background-color: #f2f2f2; }
  .portfolio .chameleon {
    position: absolute;
    bottom: -410px;
    right: -160px;
    width: 325px; }
    .portfolio .chameleon .cls-1 {
      fill: #d5af86; }
    .portfolio .chameleon .cls-2 {
      fill: #ffffff; }
    .portfolio .chameleon .cls-3 {
      fill: #fbd37c; }
    .portfolio .chameleon .cls-4 {
      fill: #f2f2f2; }
    .portfolio .chameleon .cls-5 {
      fill: #cfe795; }

/* ==========================================================================
   TOOLS SECTION
   ========================================================================== */
.tools {
  padding-bottom: 65px; }
  .tools .section-title:before {
    background-position: -163px -10px; }
  .tools .list {
    font-family: "Hind", serif;
    font-size: 15px; }
  .tools .item {
    margin-bottom: 20px;
    display: flex; }
  .tools .item-title {
    width: 60%;
    text-align: right; }
  .tools .item-rating {
    width: 40%;
    text-align: left;
    padding-left: 20px; }
    .tools .item-rating span {
      border-radius: 50%;
      display: inline-block;
      background-color: #000;
      border: 1px solid #000;
      width: 10px;
      height: 10px; }
    .tools .item-rating.one span:nth-last-child(-n+4),
    .tools .item-rating.two span:nth-last-child(-n+3),
    .tools .item-rating.three span:nth-last-child(-n+2),
    .tools .item-rating.four span:nth-last-child(-n+2) {
      background: none; }
  .tools .quote {
    border-color: #1e91d6; }
    .tools .quote:before, .tools .quote:after {
      border-color: #1e91d6; }
    .tools .quote:before {
      left: 30px;
      bottom: -107px;
      height: 107px;
      transform: rotate(5deg); }
    .tools .quote:after {
      left: 44px;
      bottom: -110px;
      height: 110px;
      transform: rotate(19deg); }
    .tools .quote p:after {
      left: 10px;
      bottom: -27px;
      height: 20px;
      width: 30px;
      background-color: #d5af86; }
  .tools .chameleon {
    position: absolute;
    bottom: -185px;
    right: 0;
    width: 235px; }
    .tools .chameleon .cls-1 {
      fill: #d5af86; }
    .tools .chameleon .cls-2 {
      fill: #a4bed7; }
    .tools .chameleon .cls-3 {
      fill: #ffffff; }
    .tools .chameleon .cls-4 {
      fill: #cfe795; }
    .tools .chameleon .cls-5 {
      fill: #a4d7c7; }

/* ==========================================================================
   EDUCATION SECTION
   ========================================================================== */
.education {
  padding-top: 140px; }
  .education .extras.container {
    padding-left: 35px; }
  .education .section-title:before {
    background-position: -220px -10px; }
  .education .heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-transform: uppercase; }
  .education .title,
  .education .item,
  .education .courses {
    font-family: 'Hind', serif;
    margin: 0; }
  .education .item {
    margin-bottom: 50px; }
  .education .title,
  .education .description li {
    padding: 10px 10px 10px 35px;
    position: relative; }
    .education .title:before,
    .education .description li:before {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      left: 10px;
      top: 10px;
      background-image: url(../img/sprite.svg);
      background-size: 850px 310px; }
  .education .description li:nth-child(1):before {
    background-position: -642px 161px; }
  .education .description li:nth-child(2):before {
    background-position: -681px 161px; }
  .education .description li:nth-child(3):before {
    background-position: -725px 162px; }
  .education .description li:nth-child(4):before {
    background-position: -765px 162px; }
  .education .title {
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #d5af86;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 1.1px; }
    .education .title:before {
      top: 13px;
      background-position: -596px 163px; }
  .education .description li:last-child {
    padding-bottom: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
  .education .description,
  .education .course .name,
  .education .course .place {
    color: #000;
    font-size: 12px;
    line-height: 14px; }
    .education .description li:nth-child(odd),
    .education .course .name li:nth-child(odd),
    .education .course .place li:nth-child(odd) {
      background-color: #f2f2f2; }
    .education .description li:nth-child(even),
    .education .course .name li:nth-child(even),
    .education .course .place li:nth-child(even) {
      background-color: #fff; }
  .education .course {
    margin-bottom: 25px; }
    .education .course .name,
    .education .course .place {
      padding-left: 25px;
      display: block;
      position: relative; }
      .education .course .name:before,
      .education .course .place:before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../img/sprite.svg);
        background-size: 750px 310px; }
    .education .course .name:before {
      background-position: 204px 161px; }
    .education .course .place:before {
      background-position: 130px 161px; }
    .education .course .place {
      margin-top: 7px; }

/* ==========================================================================
   EXPERIENCE SECTION
   ========================================================================== */
.experience {
  padding-bottom: 95px; }
  .experience .section-title:before {
    background-position: -275px -10px; }
  .experience .card + .card {
    margin-top: 35px; }
  .experience .list {
    background-color: #a4d7c7;
    color: #353330;
    font-family: 'Hind', sans-serif;
    font-size: 12px;
    border-radius: 5px; }
  .experience .item {
    padding: 10px 25px;
    position: relative; }
    .experience .item:nth-child(even) {
      background-color: #a4bed7; }
    .experience .item:before {
      content: "";
      width: 18px;
      height: 15px;
      position: absolute;
      left: 20px;
      top: 17px;
      transform: translateY(-50%);
      background-image: url(../img/sprite.svg);
      background-size: 830px 310px;
      background-position: 63px 163px; }
    .experience .item:nth-child(2):before {
      background-size: 1100px 310px;
      background-position: 245px 163px; }
    .experience .item:nth-child(3):before {
      background-position: 104px 163px; }
  .experience .item-description {
    padding-left: 25px;
    display: inline-block; }
  .experience .chameleon {
    position: absolute;
    bottom: -213px;
    right: -436px;
    width: 530px; }
    .experience .chameleon .cls-1 {
      fill: #ff9b6d; }
    .experience .chameleon .cls-2 {
      fill: #d5af86; }
    .experience .chameleon .cls-3 {
      fill: #ffffff; }
    .experience .chameleon .cls-4 {
      fill: #a4d7c7; }
    .experience .chameleon .cls-5 {
      fill: #f2f2f2; }

/* ==========================================================================
   FOOTER
   ========================================================================== */
.site-footer .section-title:before {
  background-position: 0 -10px; }

.site-footer .note {
  color: #d5af86;
  text-align: center;
  margin-bottom: 45px;
  font-family: "Domine", serif;
  font-size: 14px; }

.contacts a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: "Hind", sans-serif;
  font-size: 22px;
  border-radius: 15px;
  color: #353330;
  box-shadow: 0 5px 0 0 #ff9b6d;
  background-color: #fbd37c;
  padding: 5px 30px 0 50px;
  width: 100%;
  margin-bottom: 25px; }
  .contacts a:hover, .contacts a:focus {
    background-color: #fbe87c;
    box-shadow: 0 5px 0 0 #ff9b6d; }
  .contacts a:active {
    transform: translate(0, 5px);
    box-shadow: 0 1px 0 0; }
  .contacts a:before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/sprite.svg);
    background-size: 1400px 113px; }
  .contacts a.tel:before {
    background-position: 1435px 182px; }
  .contacts a.email:before {
    background-position: 1470px 182px; }

@media (min-width: 768px) {
  .section {
    padding: 60px; }
  .container {
    max-width: 648px; }
  .section-title {
    font-size: 35px;
    padding-left: 95px;
    margin-bottom: 80px; }
    .section-title:before {
      width: 77px;
      height: 77px;
      background-size: 588px 120px; }
  .profile .section-title:before {
    background-position: -170px -22px; }
  .skills .section-title:before {
    background-position: -512px -22px; }
  .portfolio .section-title:before {
    background-position: -84px -22px; }
  .tools .section-title:before {
    background-position: -256px -22px; }
  .education .section-title:before {
    background-position: -341px -22px; }
  .experience .section-title:before {
    background-position: -427px -22px; }
  .site-footer .section-title:before {
    background-position: 1px -22px; }
  .profile .intro {
    float: left;
    font-size: 18px;
    width: 420px;
    padding-right: 40px; }
  .profile .image {
    width: 190px; }
  .section.skills {
    padding-bottom: 75px; }
  .skills .card,
  .skills .highlight,
  .skills .quote {
    float: left;
    width: calc(50% - 20px); }
  .skills .card:nth-child(even),
  .skills .highlight,
  .skills .quote {
    margin-left: 40px; }
  .skills .card {
    margin-bottom: 40px; }
    .skills .card:nth-child(2n + 1) {
      clear: both; }
  .skills .card-title {
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 25px; }
  .skills .card-list {
    font-size: 17px;
    padding-top: 41px;
    padding-bottom: 41px; }
  .skills .highlight {
    font-size: 16px;
    padding: 15px 25px; }
  .skills .quote {
    margin-top: 20px;
    font-size: 15px; }
    .skills .quote:before {
      right: 86px;
      bottom: -85px;
      height: 85px;
      transform: none; }
    .skills .quote:after {
      right: 65px;
      bottom: -89px;
      height: 93px;
      transform: rotate(27deg); }
    .skills .quote p:after {
      right: 22px;
      bottom: -27px;
      height: 20px;
      width: 38px; }
  .skills .chameleon {
    width: 136px;
    bottom: -47px;
    right: 100px; }
  .portfolio .list {
    display: flex;
    flex-flow: row wrap; }
  .portfolio .item {
    width: 304px; }
    .portfolio .item:nth-child(even) {
      margin-left: 40px; }
  .portfolio .item-title {
    font-size: 20px; }
  .portfolio .item-description {
    font-size: 14px; }
  .portfolio .quote {
    width: 420px;
    font-size: 15px; }
    .portfolio .quote:before {
      left: auto;
      right: -30px;
      bottom: 40px; }
    .portfolio .quote:after {
      left: auto;
      right: -30px;
      bottom: 24px;
      height: 54px;
      transform: rotate(90deg); }
    .portfolio .quote p:after {
      left: auto;
      right: -27px;
      bottom: 29px;
      height: 48px;
      width: 20px; }
  .portfolio .chameleon {
    bottom: -375px;
    right: -215px;
    width: 415px; }
  .section.tools {
    padding-bottom: 97px; }
  .tools .list {
    display: flex;
    flex-flow: row wrap;
    font-size: 18px; }
  .tools .item {
    width: calc(50% - 20px); }
    .tools .item:nth-child(even) {
      margin-left: 40px; }
  .tools .item-rating {
    padding-left: 30px; }
    .tools .item-rating span {
      width: 11px;
      height: 11px;
      margin-left: 3px; }
  .tools .quote {
    font-size: 15px; }
    .tools .quote:before {
      left: 330px;
      bottom: -135px;
      height: 135px;
      transform: rotate(-25deg); }
    .tools .quote:after {
      left: 353px;
      bottom: -128px;
      height: 128px;
      transform: rotate(-5deg); }
    .tools .quote p:after {
      left: 276px;
      width: 45px; }
  .tools .chameleon {
    bottom: -245px;
    right: -40px;
    width: 315px; }
  .education .bachelor.wrapper {
    padding-left: 115px; }
  .education .item {
    width: 535px;
    margin-bottom: 75px; }
  .education .heading {
    margin-bottom: 32px; }
  .education .extras .heading {
    margin-bottom: 53px; }
  .education .heading,
  .education .description {
    font-size: 19px; }
  .education .title,
  .education .description li {
    padding: 20px 75px 20px 50px; }
  .education .title {
    font-size: 24px; }
    .education .title:before {
      background-position: 413px 177px;
      background-size: 1380px 330px;
      width: 25px;
      height: 25px;
      top: 18px;
      left: 12px; }
  .education .description li:before {
    background-size: 1380px 330px;
    top: 13px;
    left: 13px;
    width: 25px;
    height: 25px; }
  .education .description li:nth-child(1):before {
    background-position: 339px 177px; }
  .education .description li:nth-child(2):before {
    background-position: 275px 177px; }
  .education .description li:nth-child(3):before {
    background-position: 203px 177px; }
  .education .description li:nth-child(4):before {
    background-position: 137px 180px; }
  .education .description li:last-child {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 1px; }
  .education .extras.container {
    padding-left: 20px; }
  .education .courses {
    -webkit-columns: 190px 3;
    -moz-columns: 190px 3;
    columns: 190px 3; }
  .education .course {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    display: inline-block;
    display: inline-block;
    width: 100%; }
  .experience .first.card {
    margin-left: 115px; }
  .experience .card {
    width: 535px;
    margin-bottom: 80px; }
  .experience .list {
    font-size: 20px; }
  .experience .item {
    padding: 27px 25px 23px 123px; }
    .experience .item:before {
      width: 35px;
      height: 35px;
      left: 45px;
      top: 42px; }
    .experience .item:before {
      background-size: 1770px 330px; }
    .experience .item:nth-child(1):before {
      background-position: 133px 182px; }
    .experience .item:nth-child(2):before {
      background-size: 1890px 330px;
      background-position: 423px 182px; }
    .experience .item:nth-child(3):before {
      background-position: 220px 182px; }
  .experience .chameleon {
    bottom: -210px;
    right: -495px;
    width: 709px; }
  .section.site-footer {
    padding-top: 80px; }
  .site-footer .section-title {
    width: 420px; }
    .site-footer .section-title:before {
      top: 30px; }
  .site-footer .container {
    display: flex;
    flex-flow: row wrap; }
  .site-footer .note {
    font-size: 17px;
    flex: 1; }
  .contacts {
    display: flex;
    width: 100%; }
    .contacts a {
      font-size: 25px;
      width: calc(50% - 20px); }
    .contacts .email {
      margin-left: 40px; } }

@media (min-width: 1280px) {
  body {
    padding-top: 75px; }
  .site-header {
    height: 75px;
    padding: 0 18px; }
  #logo {
    font-size: 18px; }
  .menu-trigger {
    display: none; }
  .menu {
    display: block;
    padding: 5px 0 0 0;
    position: relative;
    background: none;
    max-height: none;
    height: auto;
    width: auto;
    top: auto; }
  .main-nav {
    display: inline-block;
    vertical-align: top;
    font-family: "Hind", sans-serif;
    font-size: 17px; }
    .main-nav a {
      display: inline-block; }
      .main-nav a:hover, .main-nav a:focus {
        color: #d5af86; }
    .main-nav a + a {
      margin-top: 0;
      margin-left: 25px; }
  .social-nav {
    display: inline-block;
    margin-left: 65px;
    vertical-align: top;
    line-height: 1; }
  .section {
    padding: 120px 90px; }
  .container {
    max-width: 1100px; }
  .section-title {
    font-size: 50px;
    padding-left: 150px;
    margin-bottom: 130px; }
    .section-title:before {
      width: 120px;
      height: 120px;
      background-size: 918px 120px; }
  .profile .section-title:before {
    background-position: -266px 0; }
  .skills .section-title:before {
    background-position: -802px 0; }
  .portfolio .section-title:before {
    background-position: -134px 0; }
  .tools .section-title:before {
    background-position: -396px 0; }
  .education .section-title:before {
    background-position: -533px 0; }
  .experience .section-title:before {
    background-position: -667px 0; }
  .site-footer .section-title:before {
    top: 43px;
    background-position: 1px 0; }
  .profile .intro {
    font-size: 27px;
    width: 718px; }
  .profile .image {
    width: 238px; }
  .section.skills {
    padding-bottom: 125px; }
  .skills .cards {
    display: flex;
    flex-flow: row wrap; }
  .skills .card {
    float: none;
    width: 333px;
    margin-bottom: 50px; }
    .skills .card:nth-child(2n+1) {
      clear: none; }
  .skills .card + .card {
    margin-left: 50px; }
  .skills .card-title {
    font-size: 26px;
    padding-top: 30px;
    padding-bottom: 30px; }
  .skills .card-list {
    font-size: 20px;
    padding-top: 41px;
    padding-bottom: 41px; }
  .skills .highlight,
  .skills .quote {
    float: left; }
  .skills .highlight {
    margin-left: 0;
    width: 334px;
    font-size: 17px;
    padding-top: 40px;
    padding-bottom: 35px; }
  .skills .quote {
    margin-top: 0;
    margin-left: 50px;
    width: 716px;
    font-size: 18px;
    padding: 19px 70px 18px 25px; }
    .skills .quote:before {
      right: 200px;
      bottom: -79px;
      height: 88px;
      transform: rotate(40deg); }
    .skills .quote:after {
      right: 175px;
      bottom: -97px;
      height: 125px;
      transform: rotate(57deg); }
    .skills .quote p:after {
      right: 57px;
      bottom: -21px;
      width: 45px; }
  .skills .chameleon {
    width: 181px;
    bottom: -90px;
    right: 243px; }
  .section.portfolio {
    padding-bottom: 60px; }
  .portfolio .item {
    width: 333px;
    margin-bottom: 60px; }
    .portfolio .item:nth-child(even) {
      margin-left: auto; }
    .portfolio .item:nth-child(2), .portfolio .item:nth-child(5) {
      margin-left: 50px;
      margin-right: 50px; }
  .portfolio .item-title {
    font-size: 23px; }
  .portfolio .item-description {
    font-size: 16px; }
  .portfolio .quote {
    width: 718px;
    font-size: 18px; }
    .portfolio .quote:before {
      right: -52px;
      bottom: 53px;
      height: 100px;
      transform: rotate(-85deg); }
    .portfolio .quote:after {
      right: -53px;
      bottom: 34px;
      height: 102px;
      transform: rotate(75deg); }
    .portfolio .quote p:after {
      right: -27px;
      bottom: 46px;
      height: 35px; }
  .portfolio .chameleon {
    bottom: -465px;
    right: -255px;
    width: 545px; } }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
