@media (min-width: $desktop-breakpoint) {
  .portfolio {
    .item {
      width: 333px;

      &:nth-child(even) {
        margin-left: 50px;
      }
    }

    .quote {
      width: 455px;
    }

    .chameleon {
      right: -185px;
    }
  }
}