@media (min-width: $mobile-breakpoint) {
  .portfolio {
    .quote {
      &:before {
        left: 125px;
      }

      &:after {
        left: 150px;
      }

      p:after {
        left: 76px;
      }
    }
  }
}