@media (min-width: $tablet-breakpoint) {
  .education {
    .section-title:before {
      background-position: -341px -22px;
    }

    .bachelor.wrapper {
      padding-left: 115px;
    }

    .item {
      width: 535px;
      margin-bottom: 75px;
    }

    .heading { margin-bottom: 32px; }
    .extras .heading { margin-bottom: 53px; }

    .heading,
    .description {
      font-size: 19px;
    }

    .title,
    .description li {
      padding: 20px 75px 20px 50px;
    }

    .title {
      font-size: 24px;
      &:before {
        background-position: 413px 177px;
        background-size: 1380px 330px;
        width: 25px;
        height: 25px;
        top: 18px;
        left: 12px;
      }
    }

    .description li {
      line-height: 1;
      &:before {
        background-size: 1380px 330px;
        top: 13px;
        left: 13px;
        width: 25px;
        height: 25px;
      }

      &:nth-child(1):before { background-position: 339px 177px; }
      &:nth-child(2):before { background-position: 275px 177px; }
      &:nth-child(3):before { background-position: 203px 177px; }
      &:nth-child(4):before { background-position: 137px 180px; }

      &:last-child {
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 1px;
      }
    }

    .extras.container { padding-left: 20px; }
    .courses {
      -webkit-columns: 190px 3;
      -moz-columns: 190px 3;
      columns: 190px 3;
    }

    .course {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      display: inline-block;
      display: inline-block;
      width: 100%;
    }
  }
}