.intro {
  position: relative;
  background-color: $brown;
  height: 100%;
  min-height: 480px;
  max-height: 700px;

  .container {
    height: 100%;
    width: 320px;
  }

  .content {
    padding: 30px;
    position: absolute;
    left: 50%;
    top: calc(50% - 20px);
    transform: translate(-50%, -50%);
  }

  #call-to-action {
    width: 26px;
    height: 26px;
    background-position: -10px -143px;
    background-image: url(../img/sprite.svg);
    background-size: 1320px 310px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    position: absolute;
    transform: translate3d(0,0,0);
    bottom: 13px;
    left: 50%;
    animation: 1.2s ease-out 0s infinite normal jumpUpAndDown;

    &:hover,
    &:focus {
      background-position: -45px -143px;
    }

    &:active {
      background-position: -80px -143px;
    }
  }

  @keyframes jumpUpAndDown {
    0% {
      bottom: 13px;
    }
    50% {
      bottom: 18px;
    }

    100% {
      bottom: 13px;
    }
  }

  .brand {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  .testimonials-carousel {
    overflow: hidden;
  }

  .testimonials-list {
    color: #fff;
    text-align: center;
  }

  .testimonials-nav {
    text-align: center;

    li {
      display: inline-block;

      &.is-active {
        button {
          background-color: rgba(255,255,255,0.85);
        }
      }
    }

    li + li {
      margin-left: 7px;
    }

    button {
      -webkit-appearance: none;
      -moz-appearance: none;
      border: none;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      overflow: hidden;
      text-indent: -100%;
      padding: 0;
      background-color: rgba(255,255,255,0.15);

      &:hover,
      &:focus {
        background-color: rgba(255,255,255,0.5);
      }
    }
  }

  .testimonials-list {
    position: relative;
    height: 160px;
    display: flex;
    align-items: center;
  }

  .statement {
    // display: none;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) translateZ(0);
    transition: opacity 0.5s ease-out;
  }

  .is-active {
    opacity: 1;
    z-index: 1;
  }

  .statement-content {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .statement-author {
    font-size: 12px;
    font-family: 'Hind', sans-serif;
  }

  .illustration {
    position: absolute;
  }

  .imac {
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 55vh;
    min-width: 310px;
    max-width: 468px;
  }

  .cutter {
    top: 50%;
    right: 5px;
    width: 40px;
  }

  .marker {
    top: calc(50% + 60px);
    right: 5px;
    width: 65px;
  }

  .pantones {
    top: 230px;
    width: 87px;
    left: -35px;
  }

  .earphones {
    top: calc(50% - 230px);
    right: 10px;
    width: 100px;
  }

  .userflows {
    top: calc(50% + 80px);
    left: -19px;
    width: 107px;
  }

  .pencil {
    top: calc(50% + 110px);
    right: 25px;
    width: 29px;
  }

  .iphone {
    top: calc(50% + 110px);
    right: 126px;
    width: 29px;
  }

  .wireframe {
    top: calc(50% + 160px);
    right: 4px;
    width: 83px;
  }

  .mouse {
    top: calc(50% + 180px);
    right: 100px;
    width: 25px; 
  }

  .keyboard {
    top: calc(50% + 180px);
    left: 35px;
    width: 103px;
  }
}