@media (min-width: $tablet-breakpoint) {
  .intro {
    min-height: 650px;
    max-height: 1024px;
    .container {
      width: 768px;
    }

    .content {
      padding: 60px;
      top: 50%;
    }

    .brand {
      font-size: 44px;
      letter-spacing: 1px;
    }

    .statement-content {
      font-size: 17px;
      margin-bottom: 19px;
    }

    .statement-author {
      font-size: 15px;
    }

    .imac {
      left: 50%;
      transform: translateX(-50%);
      width: 65vh;
    }

    .cutter {
      top: calc(50% - 170px);
      right: 15px;
      width: 98px;
    }

    .marker {
      top: calc(50% - 86px);
      right: -67px;
      width: 158px;
    }

    .pantones {
      top: 205px;
      left: -52px;
      width: 209px;
    }

    .earphones {
      top: 5px;
      right: -40px;
      width: 243px;
    }

    .userflows {
      top: calc(50% - -44px);
      left: -52px;
      width: 228px;
    }

    .pencil {
      top: calc(50% - -14px);
      right: 44px;
      width: 70px;
    }

    .iphone {
      top: calc(50% - -70px);
      right: 495px;
      width: 70px;
    }

    .wireframe {
      top: calc(50% - -120px);
      right: 23px;
      width: 200px;
    }

    .mouse {
      top: calc(50% - -174px);
      right: 270px;
      width: 61px; 
    }

    .keyboard {
      top: calc(50% - -200px);
      left: 133px;
      width: 220px;
    }
  }
}