@media (min-width: $tablet-breakpoint) {
  .intro {
    min-height: 650px;
    max-height: 1024px;

    .container {
      width: 768px;
    }

    #call-to-action {
      width: 42px;
      height: 42px;
      background-position: -17px -134px;
      background-size: 2150px 310px;
      bottom: 20px;

      &:hover,
      &:focus {
        background-position: -74px -134px;
      }

      &:active {
        background-position: -131px -134px;
      }
    }

    @keyframes jumpUpAndDown {
      0% {
        bottom: 20px;
      }
      50% {
        bottom: 25px;
      }

      0% {
        bottom: 20px;
      }
    }

    .content {
      padding: 60px;
      top: 50%;
    }

    .brand {
      font-size: 44px;
      letter-spacing: 1px;
    }

    .statement-content {
      font-size: 17px;
      margin-bottom: 19px;
    }

    .statement-author {
      font-size: 15px;
    }

    .imac {
      left: 50%;
      transform: translateX(-50%);
      width: 75vh;
      min-width: 450px;
      max-width: 665px;
    }

    .cutter {
      top: calc(50% - 170px);
      right: 15px;
      width: 98px;
    }

    .marker {
      top: calc(50% - 86px);
      right: -67px;
      width: 158px;
    }

    .pantones {
      top: 205px;
      left: -52px;
      width: 209px;
    }

    .earphones {
      top: 5px;
      right: -40px;
      width: 243px;
    }

    .userflows {
      top: calc(50% - -44px);
      left: -52px;
      width: 228px;
    }

    .pencil {
      top: calc(50% - -14px);
      right: 44px;
      width: 70px;
    }

    .iphone {
      top: calc(50% + 120px);
      right: 460px;
      width: 70px;
    }

    .wireframe {
      top: calc(50% - -120px);
      right: 23px;
      width: 200px;
    }

    .mouse {
      top: calc(50% - -174px);
      right: 270px;
      width: 61px;
    }

    .keyboard {
      top: calc(50% + 250px);
      left: 113px;
      width: 220px;
    }
  }
}