@media (min-width: $large-desktop-breakpoint) {
  .intro {
    min-height: 670px;
    max-height: 950px;
    height: calc(100vh - 75px);

    .brand {
      font-size: 52px;
      letter-spacing: 2px;
    }

    .container {
      width: 1280px;
    }

    .content {
      width: 1040px;
    }

    #call-to-action {
      bottom: 30px;
      transform: translateY(-30px);
    }

    @keyframes jumpUpAndDown {
      0% {
        transform: translateY(-30px);
      }
      50% {
        transform: translateY(-35px);
      }

      100% {
        transform: translateY(-30px);
      }
    }

    .testimonials-list {
      text-align: right;
      height: 140px;
    }

    .statement-content {
      font-size: 19px;
      margin-bottom: 13px;
    }

    .statement-author {
      font-size: 16px;
    }

    .imac {
      top: 5px;
      width: 75vh;
      min-width: 525px;
      max-width: 715px;
    }

    .cutter {
      top: 175px;
      right: 15px;
      width: 98px;
    }

    .marker {
      top: 317px;
      right: -67px;
      width: 158px;
    }

    .pantones {
      top: 205px;
      left: -52px;
      width: 209px;
    }

    .earphones {
      top: 5px;
      right: -40px;
      width: 243px;
    }

    .userflows {
      top: calc(50% + 70px);
      left: -52px;
      width: 258px;
    }

    .pencil {
      top: calc(50% + 70px);
      right: 44px;
      width: 70px;
    }

    .iphone {
      top: calc(50% + 110px);
      right: 360px;
      width: 70px;
    }

    .wireframe {
      top: calc(50% + 100px);
      right: 120px;
      width: 200px;
    }

    .mouse {
      top: calc(50% + 190px);
      right: 490px;
      width: 61px;
    }

    .keyboard {
      top: calc(50% + 190px);
      left: 310px;
      width: 250px;
    }
  }
}